* {
  margin: 0;
}
body {
  font-size: 14px;
  color: #fff;
  background-color: #333;
}


header, footer, nav, section, aside, article {
  border-radius: 4px;
}

header {
  padding: 10px;
  margin: 20px 20px 0 20px;
}

footer {
  padding: 10px;
  margin: 0 20px 0 20px;
}

nav, section, aside {
  padding: 10px;
}

header {
  background-color: #666;
  display: block;
}

main {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 20px;
}

.row {
  display: table-row;
}

.row > *{
  display: table-cell;
  background-color: #666;
}
main > *:not(:last-child){
  margin-right: 1%;
}
nav {
  width: 24%;
}

section {
  width: 49%;
}

aside {
  width: 24%;
}

footer {
  background-color: #666;
  display: block;
}







header h1 {
  font-family: "Arial";
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}


/* Navigation */

nav li {
  list-style: none;
  padding: 5px 0;
}
nav ul {
  padding-left: 0;
}


section footer {
background-color: #999;
}

article {
}

article h1 {
  margin: 10px inherit;
  border-radius: 4px;
  background-color: #999;
  padding: 10px;
}
article p {
  border-radius: 4px;
  background-color: #999;
  padding: 10px;
  margin: 10px 0 0 0;
}


  /* Ellipsis added for long parragraphs. */
.truncated-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
